---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Drew is a blogger!!";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>But does he have any posts?</h2>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>		
</BaseLayout>
